<div class="calculator">
  <div class="calculator display">{{ result }}</div>
  <div class="calculator keys">
  <div class="row">
    <button class="calculator key" (click)="handleClick('7')">7</button>
    <button class="calculator key" (click)="handleClick('8')">8</button>
    <button class="calculator key" (click)="handleClick('9')">9</button>
    <button class="calculator key" (click)="handleClick('/')">÷</button>
  </div>
  <div class="row">
    <button class="calculator key" (click)="handleClick('4')">4</button>
    <button class="calculator key" (click)="handleClick('5')">5</button>
    <button class="calculator key" (click)="handleClick('6')">6</button>
    <button class="calculator key" (click)="handleClick('*')">×</button>
  </div>
  <div class="row">
    <button class="calculator key" (click)="handleClick('1')">1</button>
    <button class="calculator key" (click)="handleClick('2')">2</button>
    <button class="calculator key" (click)="handleClick('3')">3</button>
    <button class="calculator key" (click)="handleClick('-')">−</button>
  </div>
  <div class="row">
    <button class="calculator key" (click)="handleClick('0')">0</button>
    <button class="calculator key" (click)="handleClick('.')">.</button>
    <button class="calculator key" (click)="handleClick('+')">+</button>
    <button class="calculator key" (click)="clear()">C</button>
    <button class="calculator key" (click)="calculate()">=</button>
  </div>
  </div>
</div>

<p>Operand1   {{operand1}}     Operator   {{operator}}    Operand2   {{operand2}}</p>
